{% extends 'catalog/base_template.html' %}
{% load my_tags %}
{% block title %}Добавление/ изменение продукта{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">
        {% if product %}
        Форма изменения продукта
        {% else %}
        Форма создания продукта
        {% endif %}
    </h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">
            {% if product %}
            Сохранить
            {% else %}
            Создать
            {% endif %}
        </button>
        <a class="btn btn-secondary" href="{% url 'catalog:product_list' %}">Отмена</a>
    </form>
</div>

{% endblock %}
